<h3 class="text-center mb-5">新しい材料を追加</h3>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="mb-2 col-sm-4">
        <%= form_with(model: @ingredient, url: ingredients_path) do |form| %>
        <div class="mb-1">
            <%= form.label :'材料名', class: 'form-label' %>
          <div class="col-sm-10">
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="mb-1">
          <%= form.label :'㌘あたり原価', class: 'form-label' %>
          <div class="input-group">
            <%= form.number_field :cost_per_gram, step: 0.01, class: 'form-control' %>
            <span class="input-group-text">円</span>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-end mt-2">
          <%= form.submit '追加', class:" btn btn-outline-secondary edit-btn btn-square-so-pop btn-square-so-pop:active" %>
        </div>
        <% end %>
    </div>
  </div>

<h3 class="mb-3 text-center">材料リスト</h3>

<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="list-group">
      <% if @ingredients.any? %>
          <% @ingredients.each do |ingredient| %>
          <div class="d-flex justify-content-between mb-1 list-group-item align-items-center">
            <%= ingredient.name %> （<%= ingredient.cost_per_gram %>円/㌘）
            <%= button_to "削除", ingredient_path(ingredient.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" }, class: 'btn-square-so-pop btn-square-so-pop:active delete-btn' %>
          </div>
          <% end %>
      <% else %>
        <div class="alert alert-info">
          材料は登録されていません。
        </div>
      <% end %>
    </div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
  <%= link_to '戻る', request.referer || root_path, class:" btn btn-outline-secondary return-btn btn-square-so-pop btn-square-so-pop:active" %>
</div>
</div>



</div>


<script>
  function check(){
  if(window.confirm('本当に削除しますか？')){
    return true;
  }
  else{
    return false;
  }
}
</script>

<style>
.edit-btn {
    padding: 6px;
    background-color: #9DDCDC;
    border-radius: 20px;
    text-decoration: none;
}

.delete-btn {
    padding: 4px;
    background-color: #E67A7A;
    border-radius: 20px;
    text-decoration: none;
}

.return-btn {
    padding: 6px;
    background-color: #8CA404;
    border-radius: 20px;
    text-decoration: none;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

.btn-square-so-pop:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
</style>
