<!DOCTYPE html>
<html>
  <head>
    <title>Merienda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header>
    <h1>Merienda</h1>
  </header>
  <%# データ保存成功時フラッシュメッセージ %>
  <% if notice %>
  <div class="notice"><%= notice %></div>
  <% end %>
  <%# 失敗時 %>
  <% if alert %>
  <div class="alert"><%= alert %></div>
  <% end %>

<div class="container">
 <div class="row">
   <%= yield %>
 </div>
</div>

  </body>
</html>
