<!DOCTYPE html>
<html>

<head>
    <title>Merienda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSSの追加 -->
    <%# <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> %>
    <%# <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm mb-5">

        <a class="navbar-brand" href="#">Merienda</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
            <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしてもよろしいですか？" }, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                    <%= link_to 'レシピ投稿', new_recipe_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'レシピ一覧', recipes_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to '材料一覧', ingredients_path, class: 'nav-link' %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav>



    <div class="container mt-4">
        <% if notice %>
        <div class="alert alert-success mt-3" role="alert">
            <%= notice %>
        </div>
        <% end %>

        <% if alert %>
        <div class="alert alert-danger mt-3" role="alert">
            <%= alert %>
        </div>
        <% end %>

        <%= yield %>
    </div>

    <!-- BootstrapのJavaScriptとPopper.jsの追加 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
