<h2 class="text-center">レシピを編集する</h2>

<div class="container mt-4">

  <%= form_with(model: @recipe, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :タイトル, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :メモ, class: 'form-label' %>
      <%= form.text_area :notes, class: 'form-control', rows: '3' %>
    </div>

    <div class="mt-3">
      <%= form.submit '更新', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <h3 class="mb-4 text-center">材料リスト</h3>

<div class="row">
  <% @ingredients.each do |ingredient| %>
    <% recipe_ingredient = @recipe_ingredients.find { |ri| ri.ingredient_id == ingredient.id } %>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-header bg-light">
          <h5 class="card-title mb-0"><%= ingredient.name %></h5>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-12">
              <span class="fs-5 text-muted">（<%= ingredient.cost_per_gram %>円/㌘）</span>
            </div>
          </div>
          <% if recipe_ingredient %>
            <%= form_with model: recipe_ingredient, url: recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id), local: true, method: :put do |f| %>
              <%= f.hidden_field :ingredient_id, :value => ingredient.id %>
              <div class="form-group mb-3">
                <%= f.number_field :quantity_in_grams, min: 1, step: 0.01, placeholder: '分量(必須)', class: 'form-control' %>g
              </div>
              <%= f.submit '分量変更', class: 'btn btn-success mb-2' %>
            <% end %>
            <%= button_to "削除", recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" }, class: 'delete-btn'%>
          <% else %>
            <%= form_with model: RecipeIngredient.new, url: recipe_recipe_ingredients_path(recipe_id: @recipe.id), local: true do |f| %>
              <%= f.hidden_field :ingredient_id, value: ingredient.id %>
              <div class="form-group mb-3">
                <div>
                  <%= f.number_field :quantity_in_grams, min: 1, step: 0.01, placeholder: '分量を入力', class: 'form-control' %>g
                </div>
              </div>
              <%= f.submit '分量登録', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


  <h3 class="mt-5 text-center">作り方</h3>
  <%= form_with model: @recipe_method, url: recipe_recipe_methods_path(recipe_id: @recipe.id), local: true do |f| %>
    <div class="form-group">
      <%= f.text_area :process, class: 'form-control', rows: '3', required: '' %>
    </div>
    <%= f.submit '作り方を追加', class: 'btn btn-primary btn-block mb-5' %>
  <% end %>
</div>

  <% @recipe_methods.each_with_index do |recipe_method, index| %>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">作り方</div>
      <div class="card-body">
        <% if recipe_method %>


          <%= form_with model: recipe_method, url: recipe_recipe_method_path(recipe_id: @recipe.id, id: recipe_method.id), local: true, method: :put do |f| %>
            <div class="form-group">
              <%= index + 1 %>.<%= f.text_area :process, class: 'form-control', rows: '3', required: '' %>
            </div>
            <%= f.submit '手順変更', class: 'btn btn-success mb-3' %>
          <% end %>
          <%= button_to "削除", recipe_recipe_method_path(recipe_id: @recipe.id, id: recipe_method.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" }, class:  %>
        <% end %>
      </div>
    </div>
  <% end %>

<script>
  function check(){
  if(window.confirm('本当に削除しますか？')){
    return true;
  }
  else{
    return false;
  }
}
</script>
<style>
.delete-btn {
    border: solid 3px #000000;
    padding: 6px;
    margin: 10px;
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
}
</style>
