<!-- app/views/recipes/edit.html.erb -->
<h1>レシピを編集</h1>

<%= form_with model: @recipe, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
