<!-- app/views/recipes/index.html.erb -->

<% if @ingredients.blank? %>
<div class="alert alert-info p-4">
    <p>レシピを書くときは<%= link_to '材料一覧', ingredients_path %>で材料と㌘あたり原価を入力してね！</p>
</div>
<% end %>

<div class="container mt-4 border p-4">
    <h1 class="mb-4">レシピ一覧</h1>

    <div class="row mb-4">
        <div class="col-sm-2">
            <%= link_to 'レシピを書く', new_recipe_path, class: "btn btn-primary btn-block mb-3" %>
        </div>
    </div>

    <% if @recipes.any? %>
        <table class="table table-bordered table-hover">
            <thead class="bg-light">
                <tr>
                    <th>レシピ名</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody>
                <% @recipes.each_with_index do |recipe, index| %>
                    <tr>
                        <td><%= index + 1 %>. <%= link_to recipe.title, recipe %></td>
                        <td>
                            <%= link_to '編集', edit_recipe_path(recipe), class: "btn btn-outline-secondary btn-sm mr-2" %>
                            <%= button_to '削除', recipe, class: "btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" } %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="alert alert-info">
            登録されているレシピはありません。
        </div>
    <% end %>
</div>

  <div class="mt-3">
    <%= link_to '戻る', request.referer || root_path, class: 'btn btn-outline-secondary' %>
  </div>
